@import './assets/styles/variables.scss';

:root {
  --color-offWhite: hsl(0, 0%, 98%);
  --color-White: #fff;
  --color-Gray: hsl(0, 0%, 41%);
  --color-Black: hsl(0, 0%, 8%);
  --font-weight: 500;
  --font-weight2: 700;
  --font-size: 2rem;
  --font-size2: 0.9rem;
  --font-size-mobile: 3rem;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%; // 1rem == 10px
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media (max-width: 900px) {
    font-size: 59.5%;
  }

  @media (max-width: 700px) {
    font-size: 55.5%;
    overflow: scroll;
  }
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #9d9d9d;
  border-radius: 5rem;
}

body {
  font-family: $snap_font;
  color: $color-Gray;
  background: var(--color-offWhite);
}

.container {
  margin-inline: auto;
  max-width: 1400px;

  @media screen and (max-width: 1500px) {
    max-width: 1300px;
  }
  @media screen and (max-width: 1400px) {
    max-width: 1200px;
  }
  @media screen and (max-width: 1350px) {
    max-width: 1000px;
  }
  @media screen and (max-width: 1050px) {
    max-width: 800px;
  }
  @media screen and (max-width: 850px) {
    max-width: 600px;
  }
  @media screen and (max-width: 650px) {
    max-width: 100%;
    padding: 2rem;
  }
}

.d-flex {
  display: flex;
}
nav {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-logo {
    font-size: 3rem;
    line-height: 0.3;
    color: $color-Black;
    font-weight: 800;
    margin-right: 2rem;
    cursor: pointer;
  }
  .nav-links {
    display: flex;
    column-gap: 2rem;
    cursor: pointer;
    align-items: center;
    //continue
    font-size: 1.4rem;
    .text-link {
      color: $color-Gray;
    }
    .dropdown {
      position: relative;
      cursor: pointer;

      .dropdown-menu {
        list-style: none;
        background: var(--color-White);
        line-height: 3rem;
        padding: 0.8rem;
        border-radius: 1.4rem;
        position: absolute;
        width: 14rem;
        .dropdown-item {
          display: flex;
          align-items: center;
          column-gap: 1.5rem;
          img {
            width: 1rem;
            object-fit: contain;
          }
        }
      }
    }
    @media (max-width: 600px) {
      display: none;
    }
  }

  .nav-btns {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    .login-btn {
      font-size: 1.4rem;
      cursor: pointer;

      color: $color-Gray;
      background: none;
    }
    .reg-btn {
      cursor: pointer;
      font-size: 1.4rem;
      color: $color-Gray;
      background: none;
      padding: 0.9rem 2rem;
      border-radius: 1rem;
      border: 1px solid $color-Gray;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
  .menu-icon {
    cursor: pointer;
    display: none;
    @media screen and (max-width: 600px) {
      display: block;
      position: absolute;
      z-index: 3;
      right: 0;
      margin-right: 4rem;
    }
  }
}

.mobile-nav-wrapper {
  .overlay {
    height: 100vh;
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background: rgba($color: $color-Black, $alpha: 0.4);
    z-index: 1;
    right: 0;
  }
  .mobile-nav {
    width: 0;
    background-color: var(--color-White);
    position: fixed;
    overflow: hidden;
    transform: translateX(100%);
    top: 0;
    bottom: 0;
    right: 0;
    list-style: none;
    line-height: 3;
    z-index: 2;
    // height: 100%;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.5s;
    @media (max-width: 600px) {
      .nav-link-mobile {
        padding-top: 8rem;
        cursor: pointer;
        padding-inline: 2rem;
      }

      &.open {
        width: 70%;
        transform: translateX(0%);
      }
      .text-link {
        cursor: pointer;
        color: $color-Gray;
      }
      .dropdown-item,
      ul {
        cursor: pointer;

        list-style: none;
      }
    }
  }
}
.nav-link-mobile {
  .nav-link-mobile a {
    text-decoration: none;
    color: $color-Gray;
  }
  font-size: 1.4rem;
  .dropdown-mobile {
    color: $color-Gray;
    width: 100%;
  }
  .nav-btns-mobile {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    .login-btn-mobile {
      cursor: pointer;
      background: none;
      color: $color-Gray;
    }
    .reg-btn-mobile {
      cursor: pointer;
      border: 0.1rem solid $color-Gray;
      border-radius: 1rem;
      padding: 0.9rem 8rem;
      background: none;
      color: $color-Gray;
      width: 100%;
    }
  }
}

.banner {
  display: flex;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  .banner-img-container {
    width: 50%;
    img {
      object-fit: contain;
      height: auto;
      width: 100%;
    }
    @media screen and (max-width: 600px) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
  .banner-container_text {
    .title {
      font-weight: 500;
      font-size: 7rem;
      width: 100%;
      line-height: 0.9;
      color: $color-Black;
      font-family: 'Epilogue', sans-serif;
      margin-bottom: 5rem;
      @media screen and (max-width: 600px) {
        font-size: 3.5rem;
        text-align: center;
        .subTest {
          display: none;
        }
      }
    }

    .hero-text {
      margin-bottom: 5rem;
      line-height: 1.4;
      color: var(--color-Gray);
      font-size: 2rem;
      @media screen and (max-width: 600px) {
        text-align: center;
        // width: 80%;
      }
    }
    .hero-btn {
      display: flex;
      .banner-btn {
        padding: 1.4rem 4rem;
        font-size: 1.4rem;
        color: var(--color-White);
        background: var(--color-Black);
        border-radius: 1rem;
      }
      @media screen and (max-width: 600px) {
        align-items: center;
        justify-content: center;
      }
    }
  }

  .clients {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 10rem;
    gap: 1.6rem;
    img {
      width: 7rem;
      object-fit: contain;
      &.audio-file {
        width: 4rem;
      }
    }

    @media screen and (max-width: 600px) {
      justify-content: center;
    }
  }

  @media screen and (max-width: 700px) {
    flex-direction: column-reverse;
    #hide-item {
      display: none;
    }
  }
}
