// Primary colors
$color-Gray: hsl(0, 0%, 41%);
$color-Black: hsl(0, 0%, 8%);
$primary-200: #c48ee7;
$primary-300: #ab5edb;
$primary-500: #7700c3;

// Secondary Colours
$black-000: #000000;
$black-100: #595959;
$black-200: #3b3b3b;
$black-300: #1e1e1e;
$black-500: #050404;

$snap_font: 'Epilogue', sans-serif;
